:root {
    /* --- Colors --- */
    --color-primary: #11998e;
    --color-primary-light: #38ef7d;
    --color-primary-dark: #0f766e;
    --color-green: #2dc868;
    --gradient-primary: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-light) 100%);

    /* --- Grays & Basics --- */
    --color-white: #ffffff;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #cfd1d5;
    --color-gray-400: #9ca3af;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;

    /* --- Status --- */
    --color-success: #10b981;
    --color-warning: #f5a51c;
    --color-danger: #ff5252;
    --color-info: #3b82f6;

    /* --- Table --- */
    --table-header-bg: #f8fafc;
    --table-row-hover: #f1f5f9;
    --table-border: #e5e7eb;
    --table-text: #374151;

    /* --- Spacing & Radius --- */
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --shadow-sm: 0 2px 8px rgba(0,0,0,0.06);
    --shadow-md: 0 4px 12px rgba(0,0,0,0.12);

    /* --- Dimensions & Transitions --- */
    --sidebar-width: 250px;
    --sidebar-collapsed-width: 0px;
    --transition-base: all 0.3s ease;


        --aqi-grey: #e5e5e5;
    --aqi-green: #a8e05f;
    --aqi-yellow: #fdd64b;
    --aqi-orange: #ff9b57;
    --aqi-red: #fe6a69;
    --aqi-purple: #a97abc;
    --aqi-maroon: #a87383;

    --color-red-50: oklch(97.1% .013 17.38);
    --color-red-100: oklch(93.6% .032 17.717);
    --color-red-200: oklch(88.5% .062 18.334);
    --color-red-300: oklch(80.8% .114 19.571);
    --color-red-400: #ff6467;
    --color-red-500: #fb2c36;
    --color-red-600: #d92d20;
    --color-red-700: oklch(50.5% .213 27.518);
    --color-red-900: oklch(39.6% .141 25.723);
    --color-yellow-400: oklch(85.2% .199 91.936);
    --color-green-400: oklch(79.2% .209 151.711);
    --color-green-500: oklch(72.3% .219 149.579);
    --color-blue-50: oklch(97% .014 254.604);
    --color-blue-100: oklch(93.2% .032 255.585);
    --color-blue-200: oklch(88.2% .059 254.128);
    --color-blue-300: oklch(80.9% .105 251.813);
    --color-blue-400: oklch(70.7% .165 254.624);
    --color-blue-500: #3e87cb;
    --color-blue-600: #1f68ad;
    --color-blue-700: oklch(48.8% .243 264.376);
    --color-blue-900: #082a4a;
    --color-indigo-500: oklch(58.5% .233 277.117);
    --color-indigo-600: oklch(51.1% .262 276.966);
}