{% extends "base_auth.html" %}

{% block title %}Đăng nhập{% endblock %}
{% block content %}

<div class="min-vh-90 d-flex align-items-center justify-content-center bg-light">

    <div class="card shadow-lg border-0 p-4"
         style="border-radius: 20px; max-width: 380px; width: 100%;">

        <div class="text-center mb-4">
            <h3 class="fw-bold mb-1">Đăng nhập</h3>
            <p class="text-muted mb-0">
                Truy cập hệ thống quản lý
            </p>
        </div>

        <form method="POST" action="{{ url_for('auth.login') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="mb-3">
                <label class="form-label small text-muted">Tên đăng nhập</label>
                <input type="text"
                    class="form-control rounded-3"
                    name="username"
                    style="border-radius: 10px !important;"
                    required>
            </div>

            <div class="mb-4">
                <label class="form-label small text-muted">Mật khẩu</label>
                <input type="password"
                    class="form-control rounded-3"
                    name="password"
                    style="border-radius: 10px !important;"
                    required>
            </div>

            <button type="submit"
                class="btn btn-primary border w-100"
                style="border-radius: 10px;">
                Đăng nhập
            </button>

            <div class="text-center">
                <a href="{{ url_for('auth.register') }}"
                class="btn btn-info w-100 mt-2 border"
                style="border-radius: 10px;">
                    Đăng ký tài khoản
                </a>
            </div>
        </form>

        <div class="text-center mt-4">
            <p class="small text-muted mb-1">Phiên bản 2025</p>
            <p class="small text-muted mb-0">
                © Nhóm 2
            </p>
        </div>

    </div>

</div>
{% endblock %}
