<div class="modal fade" id="otpModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" style="border-radius: 16px;">
    <div class="modal-content" style="border-radius: 16px;">
      <div class="modal-header">
        <h5 class="modal-title">Nhập mã OTP</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <label>OTP</label>
        <input type="text" class="form-control text-center fs-4" id="otpInput" maxlength="6" placeholder="------">
      </div>
      <div class="modal-footer">
        <button class="btn btn-info border" id="verifyOtpBtn">Xác nhận</button>
      </div>
    </div>
  </div>
</div>