{% extends "base_auth.html" %}

{% block title %}Xác thực OTP{% endblock %}

{% block content %}
<div class="min-vh-90 d-flex align-items-center justify-content-center bg-light">

    <div class="card shadow-lg border-0 p-4"
        style="border-radius: 20px; max-width: 380px; width: 100%;">

        <div class="text-center mb-4">
            <h3 class="fw-bold mb-1">Xác thực 2 lớp</h3>
            <p class="text-muted mb-0">
                Mã OTP đã được gửi về email của bạn
            </p>
        </div>

        <div class="mb-3">
            <label class="form-label small text-muted">Nhập mã OTP</label>
            <input type="text"
                id="otpInput"
                class="form-control text-center rounded-3"
                maxlength="6"
                style="border-radius: 10px !important;"
                placeholder="------">
        </div>

        <button id="verifyBtn"
            class="btn btn-primary border w-100 rounded-3"
            style="border-radius: 10px !important; ">
            Xác nhận
        </button>

        <div class="text-center mt-1">
            <button id="resendBtn" class="btn btn-link"
                style="border-color: #fff;">
                Gửi lại OTP
            </button>
        </div>

    </div>

</div>

<script>
const csrfToken = "{{ csrf_token() }}";
const transactionId = "{{ tx.transaction_id }}";

document.getElementById("verifyBtn").addEventListener("click", async function () {
    const btn = this;
    const otp = document.getElementById("otpInput").value.trim();

    if (otp.length !== 6) {
        showMessage("warning","Thông báo","OTP phải đủ 6 số");
        return;
    }

    const originalText = btn.innerHTML;
    btn.innerHTML = '<span class="spinner-border spinner-border-sm"></span> Đang xử lý...';
    btn.disabled = true;

    try {
        const res = await fetch("/users/transactions/confirm", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({ 
                transaction_id: transactionId,
                otp: otp 
            })
        });

        const data = await res.json();

        if (data.success) {
            showMessage("success", "Thành công", data.message);
            setTimeout(() => {
                window.location.href = data.redirect;
            }, 1500);
        } else {
            showMessage("error", "Lỗi xác thực", data.message);
            btn.innerHTML = originalText;
            btn.disabled = false;
        }
    } catch (err) {
        console.error(err);
        showMessage("error", "Lỗi", "Không thể kết nối máy chủ");
        btn.innerHTML = originalText;
        btn.disabled = false;
    }

});

document.getElementById("resendBtn").addEventListener("click", async function () {
    const btn = this;
    try{
        const res = await fetch("/users/transactions/resend-otp", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },
            body: JSON.stringify({ transaction_id: transactionId })
        });

        if (res.ok) {
            showMessage("success", "Thông báo", "Đã gửi lại OTP mới vào email!");
            
            // Khóa nút và bắt đầu đếm ngược 60s
            btn.disabled = true;
            let countdown = 60;
            const originalText = "Gửi lại OTP";
            
            const timer = setInterval(() => {
                countdown--;
                btn.innerText = `Gửi lại sau ${countdown}s`;
                
                if (countdown <= 0) {
                    clearInterval(timer);
                    btn.innerText = originalText;
                    btn.disabled = false;
                }
            }, 1000);

        } else {
            showMessage("error", "Lỗi", "Không thể gửi lại OTP lúc này.");
        }
    } catch (error) {
        showMessage("error", "Lỗi", "Lỗi kết nối máy chủ.");
    }
});
</script>

{% endblock %}
